# Ignore node_modules
**/node_modules
node_modules

# Ignore environment variables and secrets
.env
.env.*
!.env.example
.env.production
.env.local
.env.development

# Ignore git and GitHub actions configurations
.git
.github
.vscode
.idea

# Ignore local build outputs and caches
dist
build
.next
out
.turbo

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
